body {
  background-color: powderblue;
}

.container {
  position: relative;
  text-align: left;
  color: black;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
  }
